<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="framework.DeserealizationData.DesirialisationData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="framework.DeserealizationData.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="framework.Data" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <framework.DeserealizationData.DesirialisationData>
      <setting name="loginPath" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\DeserealizationData\XmlFiles\loginData.xml</value>
      </setting>
      <setting name="searchData" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\DeserealizationData\XmlFiles\SearchData.xml</value>
      </setting>
      <setting name="advansedSearchData" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\DeserealizationData\XmlFiles\AdvansedSearchData.xml</value>
      </setting>
    </framework.DeserealizationData.DesirialisationData>
    <framework.DeserealizationData.Data>
      <setting name="loginPath" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\DeserealizationData\XmlFiles\loginData.xml</value>
      </setting>
    </framework.DeserealizationData.Data>
    <framework.Data>
      <setting name="JournalName" serializeAs="String">
        <value>eaoms</value>
      </setting>
      <setting name="pathDriver" serializeAs="String">
        <value>C:/Users/Janek/Documents/Visual Studio 2015/Projects/framework/packages/Selenium.WebDriver.ChromeDriver.2.27.0/driver</value>
      </setting>
      <setting name="pathBatch" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\InfoFileForTest\batch4.xlsx</value>
      </setting>
      <setting name="driver" serializeAs="String">
        <value>chrome</value>
      </setting>
      <setting name="login" serializeAs="String">
        <value>Kate_Eds</value>
      </setting>
      <setting name="passwd" serializeAs="String">
        <value>qwerty123456</value>
      </setting>
      <setting name="loginPath" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\InfoFileForTest\login.csv</value>
      </setting>
      <setting name="AdvancedSearchHome" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\InfoFileForTest\advansedSearch.csv</value>
      </setting>
      <setting name="SearchPath" serializeAs="String">
        <value>C:\Users\Janek\Documents\Visual Studio 2015\Projects\framework\framework\InfoFileForTest\search.csv</value>
      </setting>
    </framework.Data>
      </applicationSettings>
  </configuration>